$purple: #A593E0;
$gray: #555f61;
$red: #e60012;
$orange: #ffaa1f;
$focus: #5CD3A3;
$white: #fff;
$off-white: #fffff3;
$tamagobouya-bg: #d8fffb;

.flex-boxes {
  $base-border-radius: 0px !default;
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $base-font-color: $dark-gray !default;
  $flex-box-border-color: $light-gray;
  $flex-box-border: 1px solid $flex-box-border-color;
  $flex-box-background: lighten($light-gray, 10%);
  $flex-box-gutter: 0em;
  $flex-box-width: 18em;
  $flex-box-color: transparentize($base-font-color, 0.3);


  @include clearfix;
  align-items: stretch;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  .flex-box {
    height: 15em;
    align-self: stretch;
    display: flex;
    position: relative;
    bottom: 5px;
    flex: 2 2 15em;
    margin: $flex-box-gutter;
    padding: 6em 2em 6em 2em;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    img {
      position: absolute;
      right: 0.8em;
      bottom: 0.8em;
      height: 3em;
      margin: 0 auto 1em;
    }
    small{
      color: transparentize($red, 0.1);
      margin: auto;
      text-align: center;
    }
  }

  .flex-box-big {
    flex: 1 1 40em;
  }

  .flex-box-image {
    background-color: $flex-box-background;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grammar{
    background: url("/images/pluralizer.png");
    background-position: center;
    background-size: cover;
  }
  .oton_glass{
    background: url("/images/oton.png");
    background-position: center;
    background-size: cover;
  }
  .menu{
    background: url("/images/menu.png");
    background-position: center;
    background-size: cover;
  }
  .david{
    background: url("/images/david.png");
    background-position: center;
    background-size: cover;
  }
}
